a
{
    color:black;
    font-size: 'Manrope',sans-serif;
    text-decoration:normal;
}
 .important
{
    color :#A5B4FC;
}

h1{
    font-size:3.5em;
    color: #A5B4FC;
    font-family: 'Montserrat',sans-serif;
}

p{
    font-size: 1.1em;
    font-family: 'Manrope','sans-serif';
}

li{
    font-size: 1em;
    font-family:'Manrope',sans-serif;
}

div{
    background-color:white;
    color :#242424;
}

body{
background-color: #1f2039;
}

p,
li,
h2{
    color:#F9F8FF;
}

.cta
{
    font-family: 'Manrope', sans-serif;
    background:linear-gradient(90deg,#8E86B5,#ACAEED);
    color :white;
}