body {
  font-family: 'Manrope', sans-serif;
  font-size: 1em;
  background-color: #1f2039;
}

a:hover {
  color: #242424;
  text-decoration:underline;
}

em {
  color: #a5b4fc;
  font-style: normal;
}

h1 {
  font-size: 3.5em;
  color: #a5b4fc;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: #f9f8ff;
}

p,
li {
  font-size: 1.1em;
  color: #f9f8ff;
}

.entete,
.pied-de-page {
  background-color: white;
  opacity:0.5;
}

.cta:hover {
  background: linear-gradient(#696484, #8788BA);
  color: white;
  border-radius: 50px;
  text-decoration:none;
}

.carre-contenu {
  border-right: 1px solid #8e86b5;
  border-bottom: 1px solid #8e86b5;
}
a:hover{
 text-decoration:underline;
}